@model stationerySpot.ViewModels.ChangePasswordLibraryViewModel

<form asp-action="ChangePassword" method="post" id="changePasswordForm">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="mb-3">
        <label asp-for="PasswordHash" class="form-label"></label>
        <input asp-for="PasswordHash" class="form-control" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-secondary">Update Password</button>
    </div>
</form>
