@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Brancy - Cosmetic & Beauty Salon Website Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Brancy - Cosmetic & Beauty Salon Website Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="bootstrap, ecommerce, ecommerce html, beauty, cosmetic shop, beauty products, cosmetic, beauty shop, cosmetic store, shop, beauty store, spa, cosmetic, cosmetics, beauty salon" />
    <meta name="author" content="codecarnival" />

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.webp">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->
    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/range-slider.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.min.css">
    <link rel="stylesheet" href="~/assets/style/Test.css">


</head>
<body>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement(
            { pageLanguage: 'en', includedLanguages: 'en,ar', layout: google.translate.TranslateElement.InlineLayout.SIMPLE },
            'google_translate_element'
          );
        }
    </script>

    <!--== Wrapper Start ==-->
    <div class="wrapper">

        <main class="main-content">

            <!--== Start Page Header Area Wrapper ==-->
            <section class="page-header-area pt-10 pb-9" data-bg-color="#FFF3DA" style="background-color: #FFF3DA; margin-top: 80px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="page-header-st3-content text-center text-md-start">
                                <h2 class="page-header-title">Shop</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Page Header Area Wrapper ==-->
            <!--== Start Shop Top Bar Area Wrapper ==-->
            <section class="shop-top-bar-area py-3">
                <div class="container">
                    <div class="shop-top-bar d-flex flex-wrap align-items-center justify-content-between p-3 gap-3 rounded">

                        <div class="search-bar d-flex align-items-center flex-grow-1">
                            <input type="text" class="form-control search-input" placeholder="Search for a product..." />
                            <button class="btn btn-search ms-2">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-mic ms-2">
                                <i class="fas fa-microphone"></i>
                            </button>
                        </div>

                        <select class="form-select select-sorting">
                            <option value="">Sort by</option>
                            <option value="az">A-Z</option>
                            <option value="za">Z-A</option>
                            <option value="low-high">Price: Low to High</option>
                            <option value="high-low">Price: High to Low</option>
                            <option value="new-old">Newest</option>
                            <option value="old-new">Oldest</option>
                        </select>

                        <select class="form-select select-category">
                            <option value="">All Categories</option>
                            <option value="category1">Category 1</option>
                            <option value="category2">Category 2</option>
                            <option value="category3">Category 3</option>
                        </select>

                        <a href="javascript:void(0);" class="btn" style="margin: 40px auto; background: #FF948A; border: none; color: white;">
                            <i class="bi bi-arrow-repeat"></i> View all products
                        </a>

                    </div>
                </div>
            </section>
            <!--== End Shop Top Bar Area Wrapper ==-->
            <!--== Start Product Category Area Wrapper ==-->
            <section class="section-space pb-0" style="margin-top:200px;">
                <div class="container">
                    <div class="row g-3 g-md-4 g-lg-5">
                        <!-- Static Category 1 -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <a href="javascript:void(0);" class="product-category-item">
                                <img class="icon" src="https://i.pinimg.com/736x/68/c6/40/68c640db6cf1abbd19f126acddc11dd0.jpg" width="100" height="100" alt="Category 1">
                                <h3 class="title">Category 1</h3>
                            </a>
                        </div>

                        <!-- Static Category 2 -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <a href="javascript:void(0);" class="product-category-item">
                                <img class="icon" src="https://www.pinterest.com/search/pins/?q=Stationery%20Category&rs=typed" width="100" height="100" alt="Category 2">
                                <h3 class="title">Category 2</h3>
                            </a>
                        </div>

                        <!-- Static Category 3 -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <a href="javascript:void(0);" class="product-category-item">
                                <img class="icon" src="~/assets/img/category3.jpg" width="100" height="100" alt="Category 3">
                                <h3 class="title">Category 3</h3>
                            </a>
                        </div>

                    </div>
                </div>
            </section>
            <!--== End Product Category Area Wrapper ==-->
            <!--== Start Product Area Wrapper ==-->
            <section class="section-space">
                <div class="container">
                    <div class="row mb-n4 mb-sm-n10 g-3 g-sm-6">
                        <!-- Static Product 1 -->
                        <div class="col-6 col-lg-4 mb-4 mb-sm-8">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a class="d-block" href="product-details.html">
                                        <img src="~/assets/img/product1.jpg" alt="Product Image" class="product-category-item" style="background: transparent !important;">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h4 class="title"><a href="product-details.html">Product 1</a></h4>
                                    <div class="prices">
                                        <span class="price">$29.99</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Static Product 2 -->
                        <div class="col-6 col-lg-4 mb-4 mb-sm-8">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a class="d-block" href="product-details.html">
                                        <img src="~/assets/img/product2.jpg" alt="Product Image" class="product-category-item" style="background: transparent !important;">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h4 class="title"><a href="product-details.html">Product 2</a></h4>
                                    <div class="prices">
                                        <span class="price">$39.99</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Static Product 3 -->
                        <div class="col-6 col-lg-4 mb-4 mb-sm-8">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a class="d-block" href="product-details.html">
                                        <img src="~/assets/img/product3.jpg" alt="Product Image" class="product-category-item" style="background: transparent !important;">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h4 class="title"><a href="product-details.html">Product 3</a></h4>
                                    <div class="prices">
                                        <span class="price">$49.99</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--== End Product Area Wrapper ==-->

        </main>

    </div>
    <!--== Wrapper End ==-->
    <!-- JS Vendor, Plugins & Activation Script Files -->
    <!-- Vendors JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/fancybox.min.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <!--<script src="assets/js/plugins/range-slider.js"></script>-->
    <!-- Custom Main JS -->
    <script src="assets/js/main.js"></script>
</body>
</html>
