body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




main {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;

    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(5px);
}


h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #007f92;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
    padding: 15px 0;
    position: relative;
    background: linear-gradient(45deg, #007f92, #00bcd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* إضافة ظل */
}

.terms-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: background-color 0.3s ease;
    border-left: 5px solid #007f92;
}

.terms-item:hover {
    background-color: #f0f8ff;
}

.terms-item h2 {
    color: #007f92;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.terms-item h2:hover {
    color: #00bcd4;
}

.details {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.details ul {
    padding-left: 20px;
}

.details li {
    margin-bottom: 10px;
}

.title-container {
    display: flex;
    align-items: center;
    /* تجعل الصورة والعنوان بنفس المستوى */
    justify-content: center;
    /* توسيط العناصر أفقيًا */
    /* gap: 10px; */
}




/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    h1 {
        font-size: 26px;
    }

    .terms-item {
        padding: 15px;
    }
}